* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-login {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.login-line {
    width: 600px;
    padding: 1.5rem;
    margin: 0px auto;
    border: none;
    border-top: 2px solid var(--wt-licht-grijs);
}

.login-left, .login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.login-left {
    display: flex;
    align-items: flex-start;
    text-align: left;
    min-width: 800px;
}

.login-left h1 {
    padding-top: 5rem;
    padding-left: 150px;
}

.login-box {
    background: var(--wt-lichtst-grijs);
    width: 600px;
    padding: 1.5rem;
    margin: 10px auto;
    border-radius: 10px;
}

.login-box h1 {
    padding-top: 1rem;
    padding-left: 30px;
}

form {
    margin: 0;
    padding: 1.3rem;
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

input {
    color: inherit;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #fff;
    border: 1px solid var(--wt-licht-grijs);
    border-radius: 50px;
    font-size: 1rem;
}

input::placeholder {
    color: transparent;
}

label {
    position: absolute;
    left: 1.2em;
    top: 0.8em;
    color: var(--wt-donker-grijs);
    cursor: text;
    transition: 0.2s ease all;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -1.2em;
    left: 1em;
    font-size: 0.8em;
    color: var(--wt-grijs);
}

.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: var(--wt-donker-groen);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #000;
}
