#TMTable {
  margin: 20px auto;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}

#TMTable table {
  width: 100%;
  border: 1px solid var(--wt-lichtst-grijs);
}

#TMTable th,
#TMTable td {
  padding: 12px;
  border: 1px solid var(--wt-licht-grijs);
}

#TMTable th {
  background-color: var(--wt-lichtst-grijs);
}

.available {
  width: 10%;
}

.Wear {
  width: 10%;
}

.reserve {
  width: 10%;
}

.status {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px 20px;
  font-weight: bold;
  color: white;
}

.status-true {
  background-color: var(--wt-donker-groen);
}

.status-false {
  background-color: red;
}

.status::after {
  content: "";
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.status-true::after {
  content: "✔";
  background-color: var(--wt-donker-groen);
  color: white;
}

.status-false::after {
  content: "✘";
  background-color: red;
  color: white;
}

.reserve-button {
  font-size: 1.1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: var(--wt-grijs);
  color: white;
  cursor: pointer;
}

.reserve-button:hover {
  background: #000;
}

.user-container {
  margin: 0 5%;
}

.table-sortable thead tr {
  background-color: black;
  color: white;
  border-spacing: 0;
  cursor: pointer;
  text-align: center;
}
.table-sortable {
  padding: 10px 0 30px;
  width: 90%; /* Line width is 75% of the container */
  margin-left: 5%;
}

.table-sortable table {
  border: 1px solid var(--wt-lichtst-grijs);
}
.table-sortable td {
  cursor: pointer;
  text-align: center;
  padding: 15px;
}
.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(255, 255, 255, 0.2);
}
/* Cell color classes */
/* Cell color classes for Physical Wear */
.good {
  background-color: rgba(1, 50, 32, 0.6); /* Light green for GOOD */
  color: white; /* Dark green text for contrast */
}

.medium {
  background-color: rgba(255, 165, 60, 0.6);
  color: white; /* Dark yellow text for contrast */
}

.bad {
  background-color: rgba(255, 0, 0, 0.6);
  color: white; /* Dark red text for contrast */
}

.inafwachting {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.uitgeleend {
  background-color: rgba(255, 165, 60, 0.6);
  color: white;
}

.teruggebracht {
  background-color: rgba(1, 50, 32, 0.6);
  color: white;
}

.inafwachting::after {
  content: " →";
  color: white;
}

.uitgeleend::after {
  content: " ✘";
  color: white;
}

.teruggebracht::after {
  content: " ✔";
  color: white;
}

.uitgeleend ::after {
  content: " ✘";
  background-color: red;
  color: white;
}

.uitgeleend ::after {
  content: " ✘";
  background-color: rgba(255, 0, 0, 0.2);
  color: white;
}
